/* thread */
.aui-thread-root {
  @apply bg-background flex h-full flex-col;
}

.aui-thread-viewport {
  @apply relative flex min-w-0 flex-1 flex-col gap-6 overflow-y-scroll;
}

.aui-thread-viewport-spacer {
  @apply min-h-6 min-w-6 shrink-0;
}

/* unused in new design */
.aui-thread-viewport-footer {
  @apply sticky bottom-0 mt-3 flex w-full max-w-[var(--thread-max-width)] flex-col items-center justify-end rounded-t-lg bg-inherit pb-4;
}

.aui-thread-scroll-to-bottom {
  @apply dark:bg-background dark:hover:bg-accent absolute -top-12 z-10 self-center rounded-full p-4 disabled:invisible;
}

.aui-thread-followup-suggestions {
  @apply flex min-h-8 items-center justify-center gap-2;
}

.aui-thread-followup-suggestion {
  @apply bg-background hover:bg-muted/80 rounded-full border px-3 py-1 text-sm transition-colors ease-in;
}

/* thread welcome */

.aui-thread-welcome-root {
  @apply mx-auto flex w-full max-w-[var(--thread-max-width)] flex-grow flex-col px-[var(--thread-padding-x)];
}

.aui-thread-welcome-center {
  @apply flex w-full flex-grow flex-col items-center justify-center;
}

.aui-thread-welcome-message {
  @apply flex size-full flex-col justify-center px-8 md:mt-20;
}

.aui-thread-welcome-message-motion-1 {
  @apply text-2xl font-semibold;
}

.aui-thread-welcome-message-motion-2 {
  @apply text-muted-foreground/65 text-2xl;
}

.aui-thread-welcome-suggestions {
  @apply grid w-full gap-2 sm:grid-cols-2;
}

.aui-thread-welcome-suggestion {
  @apply dark:hover:bg-accent/60 h-auto w-full flex-1 flex-wrap items-start justify-start gap-1 rounded-xl border px-4 py-3.5 text-left text-sm sm:flex-col;
}

.aui-thread-welcome-suggestion-display {
  @apply [&:nth-child(n+3)]:hidden sm:[&:nth-child(n+3)]:block;
}

.aui-thread-welcome-suggestion-text-1 {
  @apply font-medium;
}

.aui-thread-welcome-suggestion-text-2 {
  @apply text-muted-foreground;
}

/* thread composer */

.aui-composer-wrapper {
  @apply bg-background relative mx-auto flex w-full max-w-[var(--thread-max-width)] flex-col gap-4 px-[var(--thread-padding-x)] pb-4 md:pb-6;
}

.aui-composer-root {
  @apply relative flex w-full flex-col rounded-2xl focus-within:ring-2 focus-within:ring-black focus-within:ring-offset-2 dark:focus-within:ring-white;
}

.aui-composer-input {
  @apply bg-muted border-border dark:border-muted-foreground/15 focus:outline-primary placeholder:text-muted-foreground max-h-[calc(50dvh)] min-h-16 w-full resize-none rounded-t-2xl border-x border-t px-4 pb-3 pt-2 text-base outline-none;
}

.aui-composer-action-wrapper {
  @apply bg-muted border-border dark:border-muted-foreground/15 relative flex items-center justify-between rounded-b-2xl border-x border-b p-2;
}

.aui-composer-send {
  @apply dark:border-muted-foreground/90 border-muted-foreground/60 hover:bg-primary/75 size-8 rounded-full border;
}

.aui-composer-send-icon {
  @apply size-5;
}

.aui-composer-cancel {
  @apply dark:border-muted-foreground/90 border-muted-foreground/60 hover:bg-primary/75 size-8 rounded-full border;
}

.aui-composer-cancel-icon {
  @apply size-3.5 fill-white dark:size-4 dark:fill-black;
}

.aui-composer-attachment-button {
  @apply hover:bg-foreground/15 dark:hover:bg-background/50 scale-115 p-3.5;
}

/* unused in new design */
.aui-composer-attach {
  @apply my-2.5 size-8 p-2 transition-opacity ease-in;
}

.aui-composer-attachments {
  @apply flex w-full flex-row gap-3 overflow-x-auto;
}

/* attachment */

.aui-attachment-root {
  @apply relative mt-3;
}

.aui-attachment-content {
  @apply flex h-12 w-40 items-center justify-center gap-2 rounded-lg border p-1;
}

.aui-attachment-preview-trigger {
  @apply hover:bg-accent/50 cursor-pointer transition-colors;
}

.aui-attachment-thumb {
  @apply bg-muted flex size-10 items-center justify-center rounded border text-sm;
}

.aui-attachment-text {
  @apply flex-grow basis-0;
}

.aui-attachment-name {
  @apply text-muted-foreground line-clamp-1 text-ellipsis break-all text-xs font-bold;
}

.aui-attachment-type {
  @apply text-muted-foreground text-xs;
}

.aui-attachment-remove {
  @apply text-muted-foreground [&>svg]:bg-background absolute -right-3 -top-3 size-6 [&>svg]:size-4 [&>svg]:rounded-full;
}

/* user message */

.aui-user-message-root {
  @apply mx-auto grid w-full max-w-[var(--thread-max-width)] auto-rows-auto grid-cols-[minmax(72px,1fr)_auto] gap-y-1 px-[var(--thread-padding-x)] py-4 [&:where(>*)]:col-start-2;
}

.aui-user-branch-picker {
  @apply col-span-full col-start-1 row-start-3 -mr-1 justify-end;
}

.aui-user-message-content {
  @apply bg-muted text-foreground col-start-2 break-words rounded-3xl px-5 py-2.5;
}

.aui-user-message-attachments {
  @apply flex w-full flex-row gap-3;

  @apply col-span-full col-start-1 row-start-1;
  @apply justify-end;
}

/* user action bar */

.aui-user-action-bar-root {
  @apply col-start-1 mr-3 mt-2.5 flex flex-col items-end;
}

/* edit composer */

.aui-edit-composer-wrapper {
  @apply mx-auto flex w-full max-w-[var(--thread-max-width)] flex-col gap-4 px-[var(--thread-padding-x)];
}

.aui-edit-composer-root {
  @apply bg-muted max-w-7/8 ml-auto flex w-full flex-col rounded-xl;
}

.aui-edit-composer-input {
  @apply text-foreground flex min-h-[60px] w-full resize-none bg-transparent p-4 outline-none;
}

.aui-edit-composer-footer {
  @apply mx-3 mb-3 flex items-center justify-center gap-2 self-end;
}

/* assistant message */

.aui-assistant-message-root {
  @apply relative mx-auto grid w-full max-w-[var(--thread-max-width)] grid-cols-[auto_auto_1fr] grid-rows-[auto_1fr] px-[var(--thread-padding-x)] py-4;
}

.aui-assistant-message-avatar {
  @apply ring-border bg-background col-start-1 row-start-1 flex size-8 shrink-0 items-center justify-center rounded-full ring-1;
}

/* unused in new design */
:where(.aui-assistant-message-root) > .aui-avatar-root {
  @apply col-start-1 row-span-full row-start-1 mr-4;
}

/* unused in new design */
.aui-assistant-avatar {
  @apply col-start-1 row-span-full row-start-1 mr-4;
}

.aui-assistant-branch-picker {
  @apply col-start-2 row-start-2 -ml-2 mr-2;
}

.aui-assistant-message-content {
  @apply text-foreground col-span-2 col-start-2 row-start-1 ml-4 break-words leading-7;
}

.aui-message-error-root {
  @apply border-destructive bg-destructive/10 dark:bg-destructive/5 text-destructive mt-2 rounded-md border p-3 text-sm dark:text-red-200;
}

.aui-message-error-message {
  @apply line-clamp-2;
}

/* assistant action bar */

.aui-assistant-action-bar-root {
  @apply text-muted-foreground data-floating:bg-background data-floating:absolute data-floating:mt-2 data-floating:rounded-md data-floating:border data-floating:p-1 data-floating:shadow-sm col-start-3 row-start-2 ml-3 mt-3 flex gap-1;
}

.aui-assistant-action-bar-feedback-positive {
  @apply data-[submitted]:text-green-600 data-[submitted]:hover:text-green-700 dark:data-[submitted]:text-green-500 dark:data-[submitted]:hover:text-green-400;
}

.aui-assistant-action-bar-feedback-negative {
  @apply data-[submitted]:text-red-600 data-[submitted]:hover:text-red-700 dark:data-[submitted]:text-red-500 dark:data-[submitted]:hover:text-red-400;
}

/* branch picker */

.aui-branch-picker-root {
  @apply text-muted-foreground inline-flex items-center text-xs;
}

.aui-branch-picker-state {
  @apply font-medium;
}

/* text */

.aui-text {
  @apply whitespace-pre-line;
}

.aui-text-running::after {
  @apply animate-pulse font-sans content-['\25CF'] ltr:ml-1 rtl:mr-1;
}

/* thread-list */

.aui-thread-list-root {
  @apply flex flex-col items-stretch gap-1.5;
}

.aui-thread-list-item {
  @apply data-active:bg-muted hover:bg-muted focus-visible:bg-muted focus-visible:ring-ring flex items-center gap-2 rounded-lg transition-all focus-visible:outline-none focus-visible:ring-2;
}

.aui-thread-list-new {
  @apply data-active:bg-muted hover:bg-muted flex items-center justify-start gap-1 rounded-lg px-2.5 py-2 text-start;
}

.aui-thread-list-item-trigger {
  @apply flex-grow px-3 py-2 text-start;
}

.aui-thread-list-item-title {
  @apply text-sm;
}

.aui-thread-list-item-archive {
  @apply hover:text-foreground/60 text-foreground ml-auto mr-1 size-4 p-4;
}
